In [1]:
import pandas as pd

In [2]:
#cons -name snf2cons -auto sequences.fa consensus.fa
#needleall sequences.fa consensus.fa -brief -auto -aformat3 simple -stdout | grep '^#[ |=][1|I|S|G]' > needleall.txt
#for needleall may need to include -gapopen 2
seqpath='/Users/andrew/Desktop/snfsearch5/'
indatafile='snf2all-mafft-needleall.txt'
outdatafile='snf2all-mafft-needledata.txt'

In [3]:
#Read in data file
needles={}
fi=open(seqpath+indatafile,'r')
while 1:
    d=fi.readline()
    if not d:
        break
    elif d[:5]=='# 1: ':
        sid=d[5:].strip()
        needles[sid]={}
    else:
        tag=d.split()[1][:-1]
        data=d.split()[2]
        if tag=='Identity':
            needles[sid]['identity']=int(data.split('/')[0])
            needles[sid]['count']=int(data.split('/')[1])
        elif tag=='Similarity':
            needles[sid]['similarity']=int(data.split('/')[0])
            needles[sid]['count']=int(data.split('/')[1])
        elif tag=='Gaps':
            needles[sid]['gaps']=int(data.split('/')[0])
            needles[sid]['count']=int(data.split('/')[1])
        elif tag=='Score':
            needles[sid]['score']=float(data)
fi.close()
dfs=pd.DataFrame.from_dict(needles,orient='index')
print('Starting with {} entries'.format(dfs.shape[0]))
dfs

Starting with 1306 entries

         identity  count  similarity  gaps  score
1_3324         77   2748          90  2572   85.0
1_3322         77   2748          90  2572   85.0
1_3323         77   2748          90  2572   85.0
1_1722         88   2718         103  2515   65.0
1_4469         78   2754          89  2579   90.5
...           ...    ...         ...   ...    ...
42_1761        30   2855          42  2782   33.0
43_1217        41   2755          52  2675   46.5
43_1219        64   2710          78  2551   31.0
43_1193        61   2648          79  2463   51.0
43_1349        59   2667          73  2488   47.0

[1306 rows x 5 columns]

In [4]:
dfs.to_csv(seqpath+outdatafile,sep ='\t')